.tsup-app-App {
  text-align: center;
}

.tsup-app-App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .tsup-app-App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.tsup-app-App-header {
  background-color: #f8fafc;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #263140;
}

.tsup-app-App-link {
  color: #42536a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
